<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>{{ static_text.shopping_cart_text }}</h4>
                    <div class="breadcrumb__links">
                        <a href='{% url 'index' %}'>{{ static_text.home_text }}</a>
                        <a href='{% url 'shop' %}'>{{ static_text.shop_text }}</a>
                        <span>{{ static_text.shopping_cart_text }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->