{% extends 'base.html' %}
{% block content %}
    <div class="auth-container">
        <div class="auth-box">
           <div class="col-lg-6 col-md-7">
                <h2>Sign Up</h2>
                <form method="POST">
                    {% csrf_token %}
                    {% for f in form %}
                        <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
                        <div class="form-error">{{ f.errors }}</div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary" style="background-color: #0b0b0b">Register</button>
                </form>
                <div>
                    <label>Already have an account?
                        <a href="{% url 'login' %}" class="text-primary text-decoration-none">Login</a>
                    </label>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
