{% extends 'base.html' %}
{% block content %}
    <!-- Map Begin -->
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2623.332563679938!2d25.5852413156749!3d49.55351777936183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47303178e248e6bb%3A0xdee25cfa9bcbb45!2sTernopil%2C%20Ternopil%20Oblast%2C%20Ukraine!5e0!3m2!1sen!2sus!4v1698582313701!5m2!1sen!2sus" height="500" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <!-- Map End -->

    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="contact__text">
                        <div class="section-title">
                            <span>{{ static_text.information }}</span>
                            <h2>{{ static_text.contact_us }}</h2>
                        </div>
                        {% if contact_us %}
                            <ul>
                            {% for cu in contact_us %}
                                <li>
                                    <h4>{{ cu.country }}</h4>
                                    <p>{{ cu.address }} <br />{{ cu.phone }}</p>
                                </li>
                            {% endfor %}


                            </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="contact__form">
                        <form method="post" action="{% url 'contacts' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6">
                                    {{ contactForm.name }}
                                </div>
                                <div class="col-lg-6">
                                    {{ contactForm.email }}
                                </div>
                                <div class="col-lg-12">
                                    {{ contactForm.message }}
                                    <button type="submit" class="site-btn">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}