<div class="card">
    <div class="card-heading">
        <a data-toggle="collapse" data-target="#collapseThree">{{ static_text.filter_price }}</a>
    </div>
    <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
        <div class="card-body">
            <div class="shop__sidebar__price">
                <ul id="price-filter">
                    <li><a href="#" data-min="0" data-max="500">{{ static_text.price_filter_1 }}</a></li>
                    <li><a href="#" data-min="500" data-max="1000">{{ static_text.price_filter_2 }}</a></li>
                    <li><a href="#" data-min="1000" data-max="1500">{{ static_text.price_filter_3 }}</a></li>
                    <li><a href="#" data-min="1500" data-max="2000">{{ static_text.price_filter_4 }}</a></li>
                    <li><a href="#" data-min="2000" data-max="2500">{{ static_text.price_filter_5 }}</a></li>
                    <li><a href="#" data-min="2500" data-max="">{{ static_text.price_filter_6|safe }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    document.querySelectorAll('#price-filter a').forEach(link => {
        link.addEventListener('click', function(e) {
            e.preventDefault();
            const minPrice = this.dataset.min
            const maxPrice = this.dataset.max;

            fetch(`/shop/?min=${minPrice}&max=${maxPrice}`, {
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then(response => response.text())
            .then(data => {
                const productList = document.querySelector('#products-list');
                const paginationBlock = document.querySelector('#pagination-block');
                const productCount = document.querySelector('#product-count');

                if (productList && paginationBlock) {
                    const parser = new DOMParser();
                    const doc = parser.parseFromString(data, 'text/html');

                    productList.innerHTML = doc.querySelector('#products-list').innerHTML;
                    paginationBlock.innerHTML = doc.querySelector('#pagination-block').innerHTML;
                    productCount.innerHTML = doc.querySelector('#product-count').innerHTML;
                }
            })
            .catch(error => {
                console.error('Error fetching products:', error);
            });
        });
    });
</script>