{% load static %}
<header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                {% if user.is_authenticated %}
                                    <a href="{% url 'logout' %}">{{ static_text.sign_out }}</a>
                                {% else %}
                                    <a href="{% url 'login' %}">{{ static_text.sign_in }}</a>
                                    <a href="{% url 'register' %}">{{ static_text.register }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="{% url 'index' %}"><img src="{% static "img/logo.png" %}" style="height: 150px; width: 180px;" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    {% include "includes/nav.html" %}
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src= "{% static "img/icon/search.png"%}"  alt=""></a>
                        <a href="#"><img src= "{% static "img/icon/heart.png"%}"  alt=""></a>
                        <a href="{% url 'cart' %}"><img src="{% static "img/icon/cart.png"%}"  alt=""> <span class="cart-quantity">{{ request.cart_total_quantity }}</span></a>
                        <div class="price">UAH {{ request.cart_total_price }}</div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>