<nav class="header__menu mobile-menu">
    <ul>
        <li class="active"><a href="./index.html">Home</a></li>
        <li><a href="./shop.html">Shop</a></li>
        <li><a href="#">Pages</a>
            <ul class="dropdown">
                <li><a href="./about.html">About Us</a></li>
                <li><a href="./shop-details.html">Shop Details</a></li>
                <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                <li><a href="./checkout.html">Check Out</a></li>
            </ul>
        </li>
        <li><a href="./contact.html">Contacts</a></li>
    </ul>
</nav>