<div class="row">
    <div class="col-lg-3 col-md-3">
        <ul class="nav nav-tabs" role="tablist">
            {% for image in images %}
                {% if image %}
                    <li class="nav-item">
                        <a class="nav-link {% if forloop.first %}active{% endif %}" data-toggle="tab" href="#tabs-{{ forloop.counter }}" role="tab">
                            <div class="product__thumb__pic" style="background-image: url('{{ image.url }}');
                                background-size: cover; background-position: center; background-repeat: no-repeat;">
                            </div>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="col-lg-6 col-md-9">
        <div class="tab-content">
            {% for image in images %}
                {% if image %}
                    <div class="tab-pane {% if forloop.first %}active{% endif %}" id="tabs-{{ forloop.counter }}" role="tabpanel">
                        <div class="product__details__pic__item">
                            <img src="{{ image.url }}" alt="">
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>